<html><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<title>HTML5 Digital Clock</title>
<style>
body { margin: 0 }
</style>
</head>
<body>
<canvas id="main" width="100" height="100"></canvas>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.5.1.min.js"></script>
<script>
/*global window, jQuery*/

(function (window, $) {
    var PI_2 = Math.PI * 2, PI_05 = Math.PI * 0.5;

    function drawSevenSegments(arg) {
/*
points:
0  5
1  4
2  3

bars:
  5
0   4
  6
1   3
  2
*/

        var ctx = arg.context,
            base = arg.base,
            size = arg.size,
            char = arg.char,
            slant = 8,
            points = [
                {
                    x: base.x + slant,
                    y: base.y
                },
                {
                    x: base.x + slant / 2,
                    y: base.y + size.h / 2
                },
                {
                    x: base.x,
                    y: base.y + size.h
                },
                {
                    x: base.x + size.w,
                    y: base.y + size.h
                },
                {
                    x: base.x + size.w + slant / 2,
                    y: base.y + size.h / 2
                },
                {
                    x: base.x + size.w + slant,
                    y: base.y
                }
            ],
            center = {
                x: base.x + size.w / 2,
                y: base.y + size.h / 2
            },
            bars = [
                [0, 1],
                [1, 2],
                [2, 3],
                [3, 4],
                [4, 5],
                [5, 0],
                [1, 4]
            ],
            charTable = {
                '0': [1, 1, 1, 1, 1, 1, 0],
                '1': [0, 0, 0, 1, 1, 0, 0],
                '2': [0, 1, 1, 0, 1, 1, 1],
                '3': [0, 0, 1, 1, 1, 1, 1],
                '4': [1, 0, 0, 1, 1, 0, 1],
                '5': [1, 0, 1, 1, 0, 1, 1],
                '6': [1, 1, 1, 1, 0, 1, 1],
                '7': [1, 0, 0, 1, 1, 1, 0],
                '8': [1, 1, 1, 1, 1, 1, 1],
                '9': [1, 0, 1, 1, 1, 1, 1],
                '-': [0, 0, 0, 0, 0, 0, 1],
                ' ': [0, 0, 0, 0, 0, 0, 0]
            },
            i, bar, beginPoint, endPoint;

        ctx.beginPath();
        ctx.lineWidth = size.b;

        for (i = 0; i < 7; i++) {
            if (charTable[char] && charTable[char][i]) {
                bar = bars[i];
                beginPoint = points[bar[0]];
                endPoint = points[bar[1]];

                ctx.moveTo(beginPoint.x, beginPoint.y);
                ctx.lineTo(endPoint.x, endPoint.y);
            }
        }

        ctx.stroke();

        ctx.beginPath();
        if (char === ':') {
            ctx.arc(center.x + slant * 0.75, center.y - size.h / 4, size.b / 1.4, 0, PI_2, false);
            ctx.arc(center.x + slant * 0.25, center.y + size.h / 4, size.b / 1.4, 0, PI_2, false);
        } else if (char === '.') {
            ctx.arc(center.x, center.y + size.h / 2, size.b / 1.4, 0, PI_2, false);
        }
        ctx.fill();
    }

    function refresh() {
        var canvas = $('#main')[0],
            ctx = canvas.getContext('2d'),
            i,
            d = new Date();

        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.lineCap = 'round';
        ctx.lineJoin = 'round';
        ctx.lineWidth = 0;
        ctx.strokeStyle = 'rgba(0, 0, 0, 0.7)';
        ctx.fillStyle = 'rgba(0, 0, 0, 0.7)';

        var dateStr = [
                d.getYear() + 1900,
                ('  ' + (d.getMonth() + 1)).slice(-2),
                ('  ' + d.getDate()).slice(-2)
            ].join('-'),
            timeStr = [
                ('  ' + d.getHours()).slice(-2),
                ':',
                ('00' + d.getMinutes()).slice(-2),
                (d.getSeconds() % 2 ? '.' : '')
            ].join('');

        var center = {
            x: canvas.width / 2 + 2,
            y: canvas.height / 2 + 2
        };


        var width = canvas.width - 20;
        var datePlaceWidth = width / dateStr.length * 0.2;
        var dateCharWidth = datePlaceWidth * 0.8;
        var timePlaceWidth = width / 6 * 0.2;
        var timeCharWidth = timePlaceWidth * 0.60;

        for (i = 0; i < dateStr.length; i++) {
            drawSevenSegments({
                context: ctx,
                base: {
                    x: (center.x - datePlaceWidth * 5) + datePlaceWidth * i,
                    y: datePlaceWidth * 0.5
                },
                size: {
                    w: dateCharWidth,
                    h: dateCharWidth * 2.0,
                    b: dateCharWidth * 0.05
                },
                char: dateStr.charAt(i)
            });
        }

        for (i = 0; i < timeStr.length; i++) {
            drawSevenSegments({
                context: ctx,
                base: {
                    x: (center.x - timePlaceWidth * 2.7) + (timePlaceWidth * i),
                    y: dateCharWidth * 4.5
                },
                size: {
                    w: timeCharWidth,
                    h: timeCharWidth * 3.0,
                    b: timeCharWidth * 0.10
                },
                char: timeStr.charAt(i)
            });
        }
    }

    $(window).resize(function () {
        var $window = $(window);

        $('#main').attr({
            width: $window.width() - 20,
            height: $window.height() - 20
        });

        refresh();
    }).resize();

    window.setInterval(refresh, 1000);
}(window, jQuery));
</script>


</body></html>